<div *ngFor="let item of data;let i = index">
    <div class="card">
        <div class="selection-band" [ngClass]="{'red': item.selection =='Error', 'yellow':item.selection=='Warning', 'green':item.selection=='Success' }"></div>
        <div class="content">
            <div class="sel">
                    {{item.selection}}
            </div>
          
            <div class="msg">{{item.message}}</div>
        </div>
        <div class="dismiss" (click)="dismissCard(i)">
            Dismiss
        </div>
    </div>
</div>
